@import "./variables";

body {
  margin: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.sidebar-nav {
  background: #ddd;
  border-right: black 1px solid;
}

$sidebar-item-margin: 6px;

.content-sidebar {

  //border-right: black 1px solid;
  //min-height: calc(100vh - 55px);
  height: 100%;
  width: 100px;
  align-items: flex-start;

  a {
    margin: auto;
    text-indent: -3px;
    padding: 12px 0 6px 0;
    text-align: center;
  }

  em {
    font-size: 2.2em;
    width: auto;
  }

  span {
    display: block !important;
    font-size: 16px;
  }

  &__item {
    background: #ddd;
    border: #bbb 1px solid;
    border-radius: 4px;
    height: 80px;
    width: 80px;
    margin: 0 $sidebar-item-margin $sidebar-item-margin $sidebar-item-margin;

    color: #efefef;
    text-decoration: none;

    &.router-link-exact-active {
      color: blue;
    }

    &:first-child {
      margin-top: $sidebar-item-margin;
    }

    &:last-child {
      margin-bottom: $sidebar-item-margin;
    }

    &--red {
      background: #a61717;
    }

    &--blue {
      background: #2F96B4;
    }
  }
}

.main-logo {
  color: #fff;
  font-weight: 800;
  letter-spacing: .225em;
  transition: transform .5s ease,opacity .5s ease;
  display: inline-block;
  font-size: 0.75em;
  opacity: 1;
  padding: 0;
  position: relative;
  z-index: 1;
  font-family: "Open Sans", serif;
}

.view-project-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 115px);
}

.graph-container {
  height: 100%;
  flex-grow: 1;
  text-align: initial;
}
