
.display {
  &--flex {
    display: flex;
  }
  &--block {
    display: block;
  }
  &--inline-block {
    display: inline-block;
  }
  &--none {
    display: none;
  }
}

.center {
  &--vertical {
    margin-top: auto;
    margin-bottom: auto;
  }
  &--horizontal {
    margin-left: auto;
    margin-right: auto;
  }
  &--all {
    margin: auto;
  }
}

.text-align {
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
}

$padding-sides: (
  left,
  right,
  top,
  bottom
);

$padding-steps: (
  none: 0,
  micro: 1px,
  tiny: 2px,
  small: 4px,
  normal: 8px,
  normal-small: 12px,
  big: 16px,
  huge: 32px,
  auto: auto
);

@mixin padding-generator($sides, $steps) {
  @each $step, $size in $steps {
    @each $side in $sides {
      &-#{$side}--#{$step} {
        padding-#{$side}: $size;
      }
    }
    &--#{$step} {
      padding: $size;
    }
  }
}

.padding {
  @include padding-generator($padding-sides, $padding-steps);
}

@mixin margin-generator($sides, $steps) {
  @each $step, $size in $steps {
    @each $side in $sides {
      &-#{$side}--#{$step} {
        margin-#{$side}: $size;
      }
    }
    &--#{$step} {
      margin: $size;
    }
    &-between-sides--#{$step} > * + * {
      margin-left: $size;
    }
    &-between-tops--#{$step} > * + * {
      margin-top: $size;
    }
  }
}

.margin {
  @include margin-generator($padding-sides, $padding-steps);
}

.flex {
  &-grow {
    &--1 {
      flex-grow: 1;
    }

    &--2 {
      flex-grow: 2;
    }

    &--3 {
      flex-grow: 3;
    }

    &--4 {
      flex-grow: 4;
    }
  }

  &-direction {
    &--column {
      flex-direction: column;
    }
    &--row {
      flex-direction: row;
    }
  }
}

.overflow {
  &--hidden {
    overflow: hidden;
  }
  &--hidden-x {
    overflow-x: hidden;
  }
  &--hidden-y {
    overflow-y: hidden;
  }
  &--scroll {
    overflow: scroll;
    &-auto {
      overflow: auto;
    }
  }
  &--scroll-x {
    overflow-x: scroll;
    &-auto {
      overflow-x: auto;
    }
  }
  &--scroll-y {
    overflow-y: scroll;
    &-auto {
      overflow-y: auto;
    }
  }
}

.position {
  &--absolute {
    position: absolute;
  }
  &--relative {
    position: relative;
  }
  &--fixed {
    position: fixed;
  }
}

.sidebar {
  &--left {
    top: 0;
    left: 0;
    bottom: 0;
  }
  &--right {
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.height {
  &--max-viewheight {
    height: 100vh;
  }
  &--100percent {
    height: 100%;
  }
}

.width {
  &--max-viewwidth {
    width: 100vh;
  }
  &--100percent {
    width: 100%;
  }
}

.no-max-width {
  max-width: none !important;
}

.max-width {
  &--600px {
    max-width: 600px !important;
  }
  &--800px {
    max-width: 800px !important;
  }
}

.text-align {
  &--left {
    text-align: left;
  }
}

.layout {
  &--constrain {
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.scrollable-pane-container {
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  border: 1px solid #ccc;

  overflow-y: auto;
}

.border {
  &-divider--top {
    border-top: 1px solid $content-heading-border;
  }
  &-divider--bottom {
    border-bottom: 1px solid $content-heading-border;
  }
  &-divider--all {
    border: 1px solid $content-heading-border;
  }
}

.background {
  &--content {
    background-color: $content-heading-bg;
  }
}

.no-modal-body-padding {
  .modal-body {
    padding: 0;
  }
}

.textarea {
  &--big {
    min-height: 120px;
  }
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
